main {
    font-size: 30px;
    text-align: center;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    
}


.heading {
    display: flex;
    flex-direction: row;
}
.heading .heading-right {
    flex-grow: 1;
}
nav {
    text-transform: uppercase;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    padding-right: 100px;
}


.selected-page {

    background-color: yellow;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: left;
    padding: 40px;
}

p {
    text-align: left;
    margin-top: 5px;
}

a {
    color: black;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 1000px;
    margin: auto;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.gallery .product {
    padding: 10px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
}

.cart .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    gap: 20px;
}

.cart .product p {
    text-align: left;
    margin-bottom: 70px;
    line-height: 2;
}

.cart .img-box {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.cart img {
    width: 200px;
    height: 200px;
}

.cart .product .remove p {
    font-size: 14pt;
    text-decoration: underline;
    margin-bottom: 0px;
    font-weight: bold;
}

.cart .product .product-left {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.detail-section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.detail-right {
    display: flex;
    flex-direction: column;
}

.detail-section p {
    text-align: left;
    width: 400px;

}

select {
    font-size: 35px;
    width: 400px;
    padding: 10px;
    margin-bottom: 40px;
}

label {
    width: 400px;
    text-align: left;
    margin-bottom: 10px;
}

.img-box {
    width: 285px;
    height: 285px;
    border: 5px solid black;
}

.img-box-detail {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin-bottom: 20px;
}


.logo {
    border: 0px;
}

.gallery .product:hover {

    background-color: yellow;
    font-weight: bold;

}

.detail-section .end-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    text-align: center;
    width: 400px;
    padding-top: 70px;
}

.detail-section .add-to-cart p {
    background-color: yellow;
    border: 5px solid black;
    text-align: center;
    width: 225px;
}

.total-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-right: 15%;
}

.total-checkout .checkout {
    background-color: yellow;
    font-weight: bold;
    border: 5px solid black;
    text-align: center;
    width: 200px;
    margin-right: 15%;

}

.total-checkout .checkout p {
    text-align: center;
    margin: 10px;
}

hr {
    border-width: 3px;
    border-color: black;
}

.bottom-line hr {
    width: 70%;
}